# GitHub Packages scope mapping for @bimo-dk/*
@bimo-dk:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

# Angular 19 requires this for peer-deps
legacy-peer-deps=true
